
.box {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    padding: 300px;
    justify-content: center;
    position: relative;
    background-color: black;
    color: aliceblue;
       
  }
.logo {
    justify-content: center;
    width: 260px;
    height: 60px;
    
    
}
h1 {
   font-size: 40px;
   height: 20px;
   text-align: center;
   padding: 100px;
}
.image {
    width: 160px;
    height: 110px;
    padding: 5px;
    display: inline; 
    padding: 7px;
    border-radius: 15px;
}
.image:hover {
 background-color: white;
 border: 1px solid white;   
}
.nome {
    width: 100px;
    padding: 30px;
    font-size: 15px;
    margin-bottom: 40px;
   
}
.button {
    width: 150px;
    height: 40px;
    padding: 5px;
    margin: 1px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: darkgray;
}
.button:hover {
    background-color: white;
    overflow: visible;
}

